<style>
  .table{
    height: 400px;
    min-width: 200px;
    color: black;
    margin-left: 20px;

  }

 table.dataTable, thead{
  background: #1E6AC2;
 }
 td{
  background: #373832;
  color: #67FFD5;
 }
 .questions{
  height: 138px;
  overflow: auto;
 }
a{
  color: white;
}
  .lists{
    height: 150px;
  }
</style> <%console.log("TESTING", data);%>
    
    <!-- Page Layout here -->
    <div class="row" hidden id="messages">
    <%=Math.floor(messages.length/2)%>
    </div>
    <div class="row">

    <%if(user){%>
      <div class="col s3 center-align lists">
        <h4>Profile</h4><hr>
      </div>

      <div class="col s3 center-align lists">
        <h4><a href="/questions">Current Questions</a></h4><hr>
        <%if(questions){ %> 
         <div class="questions">

        <%for(var i=0;i<Object.keys(questions).length;i++){%>
         <%if(questions[i].active){%>
           <a href="poll/<%=questions[i].id%>"><h6><%=questions[i].question%> </h6></a>
        <%}}}%>
        </div>
      </div>

      <div class="col s3 center-align lists">
        <%if(friends){ %>
         <div class="questions">
          <h4>Friends</h4><hr>   
        <%friends.friend.forEach(function(friend){ %>
          <p><%=friend.name%></p>
        <% });%>
        </div>
        </div>

      <div class="input-field col s3">
        <form action="/friends/add" method="post">
        <input id="friendEmail" type="email" name="friendEmail" class="validate" required="" aria-required="true">
         <label for="friendEmail">Email</label>
        </input>
        <button>Add Friends</button>
      </form>
      </div>
     </div>
      <%}%>
      </div>

    <h4>Closed Questions</h4><hr>
    <%if(data){%>  
    <%var totalQuestions = 0;%>
    <%for(var r=0; r<data.data.questions.length; r++) { %>
    <%totalQuestions += (Object.keys(data.data.questions[r]).length);%>
    <%}%>
    <%}%>
    <div class ="table">
      <div class="col s12">
        <table id="myTable" class="myTable" >
          <thead>          
            <tr>
              <th data-field="category">Category</th>
              <th data-field="question">Question</th>
              <th data-field="answer">Answer</th>
              <th data-field="rank">Rank</th>
            </tr>
          </thead>

        <tbody>

    <%if(data){%>  
        <%var count=-1;%>
        <%console.log(data.data.answers);%>
        <%for(var t=0; t < Object.keys(data.categories).length; t++) {%>
        <%for(var i = 0; i < Object.keys(data.data.questions[t]).length; i++) { %>
          <tr>
              <%count++;%>
            <td><%=data.categories[t]%></td>
            <td><%=data.data.questions[t][count]%></td>
          <td>
        <%for(var d=0; d < Object.keys(data.data.answers[count]).length; d++) { %>
            <%=data.data.answers[count][d]%><br>
         <%}%>
        </td>
         <td>
         <%for(var c=0; c < Object.keys(data.data.ranks[count]).length; c++) { %>
            <%=data.data.ranks[count][c]%><br>
         <%}%>
         </td>
           <%}%>
           <%}%>
          </tr>
<%}%>

        </tbody>
        </table>

      </div>
      </div>
      </div>

    </div>
<%} else { %>
<div class="row"></div>
<div class="row"></div>

<div class="valign-wrapper">
  <div class="row">
  <div class="col s8 align-center offset-s3">
  <h1 class="valign">Welcome to</h1>
  </div>
    <div class="col s8 align-center offset-s2">
    <h2>Collaborative Intelligence</h2>
    </div>
      <div class="progress">
      <div class="indeterminate"></div>
  </div>
</div>

  </div>

<%}%>
    <script >

$(document).ready(function(){
    $('#myTable').DataTable();
    var data = document.getElementsByClassName("table");
    if(data.length > 0){
    $(".badge")[0].innerHTML = $("#messages").text();
    $(".badge")[1].innerHTML = $("#messages").text();
    }
});

</script>

