<style>
  .table{
    height: 400px;
    min-width: 200px;
    color: black;
    margin-left: 20px;

  }

 table.dataTable, thead{
  background: #1E6AC2;
 }
 td{
  background: #373832;
  color: #67FFD5;
 }
 .questions{
  height: 138px;
  overflow: auto;
 }
a{
  color: white;
}
  .lists{
    height: 150px;
  }
</style> <%console.log("TESTING", data);%>
    
    <!-- Page Layout here -->
    <!-- <div class="row" hidden id="messages"> -->
    <!-- </div> -->
    <div class="row">

    <%if(user){%>
      <div class="col s3 center-align lists">
        <h4>Profile</h4><hr>
      </div>

      <div class="col s3 center-align lists">
        <h4><a href="/questions">Current Questions</a></h4><hr>
        <%if(questions){ %> 
         <div class="questions">

        <%for(var i=0;i<Object.keys(questions).length;i++){%>
         <%if(questions[i].active){%>
           <a href="poll/<%=questions[i].id%>"><h6><%=questions[i].question%> </h6></a>
        <%}}}%>
        </div>
      </div>

      <div class="col s3 center-align lists">
        <%if(friends){ %>
          <h4>Friends</h4><hr>   
          <div class="questions">
        <%friends.friend.forEach(function(friend){ %>
          <p><h6><%=friend.name%></h6></p>
        <% });%>
        </div>
        </div>

      <div class="input-field col s3">
        <!-- <form action="/friends/add" method="post"> -->
        <input id="createRoom" type="text" name="createRoom" class="validate" required="" aria-required="true">
         <label for="createRoom">Room Name</label>
        </input>
        <button>Create a Room</button>
      <!-- </form> -->
      </div>
     </div>
      <%}%>
      </div>
<div class="row"></div>
<div class="row"></div>
<div class="row" id="chips">
 <div class="chip">Category</div>
  </div>
<div class="row">
  <div class="col s12 lists category">
    <h4>Categories</h4><hr>
     <%for(var i in data.categories){%>
     <%var cat = i;%>
     <%cat++%>
      <a class="waves-effect waves-light btn cats" data-go="<%=cat%>"><h6><%=data.categories[i]%></h6></a>
      <%}%>
    </div>

  <div class="col s12 lists question">
    <h4 id="questionList">Questions</h4><hr>
    </div>

  <div class="col s6 lists answer">
    <h4>Answers</h4><hr>
    </div>
 
  <div class="col s6 lists rank">
    <h4>Ranks</h4><hr>
  </div>

  </div>

    </div>
<%} else { %>
<div class="row"></div>
<div class="row"></div>


  <div class="row">
  <div class="col s8 offset-s3">
  <h1>Welcome to Collaborative Intelligence</h1>
    <h4><i>Where your opinion matters.</i></h4>
    </div>
  </div>

<%}%>
<script src="home.js"> </script>

